@import "variables";

#about-us {
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-around;
  background-color: $bg-primary-light;
  width: 100%;
  box-sizing: border-box;
  margin: 4rem 0 8rem 0;
  // clip-path: polygon(0 0, 100% 27%, 100% 100%, 0 76%);
  clip-path: polygon(0 17%, 100% 0, 100% 100%, 0 86%);

  > div {
    width: 25rem;
    color: $bg-general;
    font-family: $subHeader-font;
    padding: 6rem 0 4rem 0;

    @media screen and (max-width: 1300px) {
      width: 18rem;
    }

    h4 {
      border-bottom: 2px solid $bg-general;
      padding-bottom: .3rem;
    }
  }
}

@media screen and (max-width: 900px) {
  #about-us {
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;

    > div {
      width: 100%;
      // height: auto;
      margin: 1rem 0;
    }
  }
}
