@import "variables";

#about-us {
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $bg-primary-light;
  width: 100%;
  box-sizing: border-box;
  margin: 4rem 0;

  > div {
    border: 1px solid black;
    padding: .7rem;
    width: 16rem;
    height: 16rem;
    background-color: $bg-general;
  }
}

@media screen and (max-width: 900px) {
  #about-us {
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;

    > div {
      width: 100%;
      height: auto;
      margin: 1rem 0;
    }
  }
}
