@import "variables";

#droid-container {
  padding: 0 1.5rem 0 1.5rem;

  .card {
    max-width: 100%;

    img {
      max-height: 250px;
      width: 100%;
      object-fit: contain;
    }
    span {
      width: auto;
      font-size: 16px;
      text-align: center;
    }
    h5 {
      padding: 0;
      margin: 0;
      display: inline;
      color: #00236d;
      font-family: $header-font;
    }
  }
  div {
    span {
      margin-right: 1rem;
    }
    span.un-favourite {
      font-size: 32px;

      i {
        color: $bg-primary-dark;
      }

      i:hover {
        color: $heart-highlight;
        cursor: pointer;
      }
    }

    span.favourite {
      font-size: 32px;

      i {
        color: $heart-highlight;
      }

      i:hover {
        color: $bg-primary-dark;
        cursor: pointer;
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  #droid-container {
    margin-top: 2.5rem;

    span {
      text-align: left;
    }
  }
}

@media screen and (min-width: 720px) {

}
