@import "variables";

/* Header styles */
header#page-header {
  background-color: #00236D;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5;
  color: white;

  ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    li {
      margin-right: 1rem;
    }
  }


  a {
    color: white;
  }

  a:hover {
    color: #454545;
  }

  h3 {
    font-family: $header-font;
    font-weight: 600;
    margin: 0;
    padding: 0;

    a > img {
      height: 3rem;
      object-fit: contain;
    }
  }
}

.nav-links {
  width: 250px;
  font-family: $subHeader-font;
  letter-spacing: 1px;
}

#login-btn{
  cursor: pointer;
}

#logout {
  margin-left: 2rem;
}

#logout:hover {
  color: $bg-primary-light;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  header#page-header {
    flex-direction: row;
    padding: 0 10rem 0 10rem;
  }
}

