#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00236d;
  height: 30rem;
  padding: 0 1.5rem 0 1.5rem;

  div > .hero-message {
    color: #fff;
  }

  div > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}

.input-btn {
  margin-top: 2rem;
  width: 100%;
}

#search-bar {
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  width: 100%;
}

#search-bar:focus {
  outline: none;
}

@media screen and (min-width: 1024px) {
  #hero-section {
    flex-direction: row;

    img {
      display: block;
      height: 90%;
      margin-top: 3rem;
      margin-left: 5rem;
    }

    div > form {
      flex-direction: row;
      align-items: center;
      justify-items: center;
    }
  }

  #search-bar {
    width: 50rem;
  }

  .input-btn {
    margin-top: 0rem;
    margin-left: 2rem;
    width: auto;
  }
}

@media screen and (max-width: 1700px) {
  #hero-section > img {
    display: none;
  }
}
