#main-content {
  margin-top: 2rem;
}

// The carousel container
#featuredCarousel {
  height: 40rem;
}

// Has .carousel-inner class (container for droids)
#featuredDroids {
  height: 100%;
  border: 3px solid black;


  // Individual droid / slide in carousel
  .carousel-item {
    height: 100%;

    > div {
      height: 100%;
      display: flex;

      > img {
        object-fit: cover;
        flex-basis: 50%;
        max-width: 50%;
      }

      > div {
        background-color: #353535;
        font-size: 1.2rem;
        flex-basis: 50%;

        @media screen and (max-width: 500px) {
          font-size: 1rem;
        }

        h4 span {
          border-bottom: 2px solid #bbb;
          font-weight: 600;
        }
      }
    }
  }
}


@media screen and (max-width: 1000px) {
  #featuredCarousel {
    height: auto;
  }

  #featuredDroids {
    .carousel-item {
      > div {
        flex-direction: column;

        > img {
          flex-basis: 100%;
          max-width: none;
        }

        > div {
          flex-basis: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #featuredDroids {
    .carousel-item {
      > div {
        > img {
          flex-basis: 35%;
        }

        > div {
          flex-basis: 65%;
          flex-grow: 1;
        }
      }
    }
  }
}
