h2.user-page-title {
  font-family: $header-font;
  color: $bg-primary-dark;
  margin: 0 0 1rem 0;
  border-bottom: 3px solid $bg-primary-dark;
  width: 90%;

  span {
    vertical-align: middle;

    &:last-child {
      font-size: 1rem;
      margin-left: 1rem;
    }
  }
}

#user-content {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  section {
    flex-basis: 60%;
    margin-top: 3rem;
    padding: 1rem 2rem;
    box-shadow: 0 3px .5rem .5rem lightgrey;
    border-radius: 5px;
  }

  section {
    &:first-child {
      flex-basis: 25%;
      margin-right: 2rem;

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        > li {
          flex-basis: 50%;
          margin: .3rem 0;
        }
      }

      img {
        height: 20rem;
        width: 20rem;
        object-fit: contain;
        margin-bottom: 2rem;
      }
    }
  }


  button i {
    margin-right: .8rem;
  }

}


#user-droid-content {
  max-height: 80rem;
  list-style: none;
  margin: 0;
  padding: 0;

  h4 {
    font-size: 1.2rem;
    margin: .5rem auto 0 auto;
    color: $bg-primary-dark;
    font-family: $subHeader-font;
    text-transform: uppercase;
  }

  small {
    font-style: italic;
  }

  > li {
    border: 1px solid black;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    height: 12rem;

    p {
      margin-bottom: .5rem;
    }

    > img {
      height: 100%;
      max-width: 12rem;
      object-fit: contain;
      margin-bottom: 0;
      margin-right: 1rem;
    }

    ul {
      list-style: none;
      margin: .5rem .5rem 0 0;
      padding: .5rem 0 0 0;
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid black;

      li {
        margin-right: 1rem;
      }
    }

    button {
      margin-top: 1rem;
    }
  }
}
