// Colours
$bg-general: #eee;
$bg-general-dark: #353535;
$bg-primary-dark: #00236D;
$bg-primary-light: #5468b1;
$price: #d70f4b;

// Fonts
$header-font: "MuseoModerno", cursive;
$subHeader-font: "Electrolize", sans-serif;
