// See: https://sass-lang.com/
@import "about-us";
@import "droid";
@import "header";
@import "footer";
@import "hero-section";
@import "home-featured";
@import "droid-container";
@import "droid-search";
@import "filter-options";
@import "homepage-categories";

body {
  background-color: #eee;
  padding: 0;
  margin: 0;

  h1 {
    color: #244751;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

#main-content {
  .container {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 560px) {
  #main-content {
    .container {
      padding: 0;
    }
  }
}
